@model FileSharingProject.Models.ForgotPasswordViewModel

@{
    ViewData["Title"] = "Forgot Password";
}


<section id="mu-contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-contact-area" style="padding-top:0px">
                    <!-- Title -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mu-title">
                                <h2>Forgot Password</h2>
                            </div>
                        </div>
                    </div>
                    <!-- Start Contact Content -->
                    <div class="mu-contact-content">
                        <div class="row">

                            <div class="col-md-12">
                                <div class="mu-contact-form-area">
                                    <div id="form-messages"></div>
                                    <form id="contact" method="post" class="mu-contact-form" asp-action="ForgotPassword" asp-controller="Account">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="form-group">
                                            <span class="fa fa-user mu-contact-icon"></span>
                                            <input asp-for="Email" type="email" class="form-control" placeholder="Enter Your Email" id="name" required>
                                            <span asp-validation-for="Email" class="field-validation-error"></span>
                                        </div>

                                        <button type="submit" class="mu-send-msg-btn"><span>Submit</span></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Contact Content -->
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
