
@{
    ViewData["Title"] = "RequireEmailConfirm";
}
<div class="alert alert-success text-center"> 
    <h2>
        Your Account has been created successfully!, Please check Email for Confirmation Link
    </h2>
</div>
